* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#45278d, #722291);
    background-attachment: fixed;

    margin-top: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.title-header {
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 6rem;
    color: aliceblue;
}

.weather-data-container {
    width: 100%;
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.weather-form {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.weather-input {
    width: 100%;
    font-size: 1.5rem;
    background-color: lightgray;
    border: none;
    border-radius: 16px;
    padding: 4px 25px;
}

.weather-submit-button, .temp-converter-button {
    font-size: 1.2rem;
    border: none;
    border-radius: 16px;
    width: 40%;
    padding: 10px
}

.weather-card {
    background-color: lightblue;
    border: 4px solid black;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.weather-icon {
    width: 100px;
    height: 100px;
}